.footer {
     left: 0;
     bottom: 0;
     width: 100%;
     color: white;
     text-align: center;
     z-index: 1030;
}
 html {
     position: relative;
     min-height: 100%;
}
 .disabled-class {
     display: none;
}
 body {
    /* Margin bottom by footer height */
     margin-bottom: 90px;
}
 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
    /* Set the fixed height of the footer here */
     height: 100px;
     line-height: 30px;
     background-color: #222222;
}
 .footer > .container {
     padding: 15px 0;
}
 #account_list table td:first-child {
     cursor: pointer;
}
 .account_row.loading .close, .account_row:not(.loading) .spinner-border {
     display: none;
}
 pre{
    color:unset;
}
